1.0.0/flow.json
[
    {
        "id": "8d0341f4.b1c5d",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "ee68af36.17eef",
        "type": "tab",
        "label": "HVAC Core APIs",
        "disabled": false,
        "info": ""
    },
    {
        "id": "b341470f.e17658",
        "type": "mysql",
        "z": "ee68af36.17eef",
        "mydb": "f189a778.975458",
        "name": "",
        "x": 586.3333206176758,
        "y": 359.6666831970215,
        "wires": [
            [
                "2bfb9480.65900c"
            ]
        ]
    },
    {
        "id": "be7a41af.f2bd4",
        "type": "mysql",
        "z": "ee68af36.17eef",
        "mydb": "f189a778.975458",
        "name": "",
        "x": 580.8333206176758,
        "y": 187.86980819702148,
        "wires": [
            [
                "d4767229.80b05"
            ]
        ]
    },
    {
        "id": "5220ccbe.e57884",
        "type": "mysql",
        "z": "ee68af36.17eef",
        "mydb": "f189a778.975458",
        "name": "",
        "x": 587.8333206176758,
        "y": 729.8698081970215,
        "wires": [
            [
                "d3abc669.b7b7f8"
            ]
        ]
    },
    {
        "id": "9c8ffcc.1a40c",
        "type": "mysql",
        "z": "ee68af36.17eef",
        "mydb": "f189a778.975458",
        "name": "",
        "x": 846.8333206176758,
        "y": 1273.8697700500488,
        "wires": [
            [
                "f5a3a843.92eff8"
            ]
        ]
    },
    {
        "id": "ac9d29ef.3dd1a8",
        "type": "mysql",
        "z": "ee68af36.17eef",
        "mydb": "f189a778.975458",
        "name": "",
        "x": 812.5833206176758,
        "y": 1454.8697729110718,
        "wires": [
            [
                "7ad6d577.bdabfc"
            ]
        ]
    },
    {
        "id": "2ba8bb1e.ced6b4",
        "type": "mysql",
        "z": "ee68af36.17eef",
        "mydb": "f189a778.975458",
        "name": "",
        "x": 633.8333206176758,
        "y": 1094.8698081970215,
        "wires": [
            [
                "dcfa8ca7.4271d"
            ]
        ]
    },
    {
        "id": "8f181610.cc76c8",
        "type": "mysql",
        "z": "ee68af36.17eef",
        "mydb": "f189a778.975458",
        "name": "",
        "x": 596.8333206176758,
        "y": 924.8698081970215,
        "wires": [
            [
                "a8d0db51.0c1cc8"
            ]
        ]
    },
    {
        "id": "d8fc98f8.bfd278",
        "type": "mysql",
        "z": "ee68af36.17eef",
        "mydb": "f189a778.975458",
        "name": "",
        "x": 747.8333206176758,
        "y": 1837.8697776794434,
        "wires": [
            [
                "beae7dc8.80b0d"
            ]
        ]
    },
    {
        "id": "a5009de6.2370f",
        "type": "mysql",
        "z": "ee68af36.17eef",
        "mydb": "f189a778.975458",
        "name": "",
        "x": 780.3333206176758,
        "y": 1646.8697757720947,
        "wires": [
            [
                "d539db0f.91c058"
            ]
        ]
    },
    {
        "id": "a4fa85b2.688268",
        "type": "mysql",
        "z": "ee68af36.17eef",
        "mydb": "f189a778.975458",
        "name": "",
        "x": 1062.8333206176758,
        "y": 729.8698081970215,
        "wires": [
            [
                "b40e8f81.a67fb"
            ]
        ]
    },
    {
        "id": "3d6fee79.ee7e02",
        "type": "mysql",
        "z": "ee68af36.17eef",
        "mydb": "f189a778.975458",
        "name": "",
        "x": 1015.3333206176758,
        "y": 187.66668319702148,
        "wires": [
            [
                "5ece5a91.f49104"
            ]
        ]
    },
    {
        "id": "65c351f9.472a9",
        "type": "mysql",
        "z": "ee68af36.17eef",
        "mydb": "f189a778.975458",
        "name": "",
        "x": 591.8333206176758,
        "y": 554.8698081970215,
        "wires": [
            [
                "74d92cd1.b0f474"
            ]
        ]
    },
    {
        "id": "71f00a53.474324",
        "type": "function",
        "z": "ee68af36.17eef",
        "name": "Save User to DB",
        "func": "var require = context.global.get('require');\nvar payload = msg.req.body;\nmsg.topic = \"INSERT INTO User (name, username, email, password, deviceid, role) VALUES ('\" + payload.name + \"','\"  + payload.username + \"','\" + payload.email + \"','\" + payload.password + \"','\" + payload.deviceid + \"','\" + payload.role + \"');\";\nreturn msg;",
        "outputs": 1,
        "timeout": 10000,
        "newThread": false,
        "noerr": 0,
        "x": 367.8333206176758,
        "y": 359.4635581970215,
        "wires": [
            [
                "b341470f.e17658"
            ]
        ]
    },
    {
        "id": "2bfb9480.65900c",
        "type": "function",
        "z": "ee68af36.17eef",
        "name": "",
        "func": "var require = context.global.get('require');\nmsg.payload = \"success\";\nreturn msg;",
        "outputs": 1,
        "timeout": 10000,
        "newThread": false,
        "noerr": 0,
        "x": 818.3333206176758,
        "y": 359.6666831970215,
        "wires": [
            [
                "b21c7a59.d69a68"
            ]
        ]
    },
    {
        "id": "eb271562.6e2568",
        "type": "function",
        "z": "ee68af36.17eef",
        "name": "Fetch User from DB",
        "func": "var require = context.global.get('require');\nvar payload = msg.req.body;\nmsg.topic = \"SELECT * FROM User where username='\" +  payload.username + \"'AND password='\" + payload.password + \"';\";\nmsg.deviceToken = payload.deviceToken;\nreturn msg;",
        "outputs": 1,
        "timeout": 10000,
        "newThread": false,
        "noerr": 0,
        "x": 372.3333206176758,
        "y": 187.66668319702148,
        "wires": [
            [
                "be7a41af.f2bd4"
            ]
        ]
    },
    {
        "id": "d4767229.80b05",
        "type": "function",
        "z": "ee68af36.17eef",
        "name": "",
        "func": "var require = context.global.get('require');\nif (msg.payload.length > 0) {\n    delete msg.payload[0][\"password\"];\n    msg.loginUser = msg.payload[0];\n    if (msg.deviceToken) {\n        msg.topic = \"UPDATE User SET deviceid='\" + msg.deviceToken + \"'\";\n        msg.loginUser.deviceid = msg.deviceToken;\n    }\n} else {\n    msg.loginUser = { 'code': '401', 'messge': 'User unauthorized' };\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 10000,
        "newThread": false,
        "noerr": 0,
        "x": 812.3333206176758,
        "y": 187.66668319702148,
        "wires": [
            [
                "3d6fee79.ee7e02"
            ]
        ]
    },
    {
        "id": "33187619.5f051a",
        "type": "function",
        "z": "ee68af36.17eef",
        "name": "Save Ticket to DB",
        "func": "var require = context.global.get('require');\nvar payload = msg.req.body;\nvar date = new Date().toISOString().split(\"T\");\nvar dateTime = date[0] + \" \" +date[1].replaceAll('Z', '');\nmsg.topic = \"INSERT INTO Ticket (title, details, customerlocation, customeraddress, status, assignto, createdby, createdtime, resolvedtime) VALUES ('\" + payload.title + \"','\"  + payload.detail + \"','\"  + payload.customerlocation + \"','\" + payload.customeraddress + \"','\" + payload.status + \"',\" + payload.assignto + \",\" + payload.createdby +  \",'\" + dateTime +  \"','\" + dateTime + \"');\";\nreturn msg;",
        "outputs": 1,
        "timeout": 10000,
        "newThread": false,
        "noerr": 0,
        "x": 376.3333206176758,
        "y": 730.6666831970215,
        "wires": [
            [
                "5220ccbe.e57884"
            ]
        ]
    },
    {
        "id": "d3abc669.b7b7f8",
        "type": "function",
        "z": "ee68af36.17eef",
        "name": "",
        "func": "var require = context.global.get('require');\nvar payload = msg.req.body;\nmsg.ticektId = msg.payload.insertId;\nmsg.topic = \"select deviceid from User where id=\" + payload.assignto;\nreturn msg;",
        "outputs": 1,
        "timeout": 10000,
        "newThread": false,
        "noerr": 0,
        "x": 824.8333206176758,
        "y": 729.8698081970215,
        "wires": [
            [
                "a4fa85b2.688268"
            ]
        ]
    },
    {
        "id": "9c9580f8.afec4",
        "type": "function",
        "z": "ee68af36.17eef",
        "name": "Fetch Created tickets from DB for USER",
        "func": "var require = context.global.get('require');\nmsg.topic = \"select at.name as 'assignedTo', t.id, t.title, t.details, t.customerlocation, t.customeraddress, t.status, t.assignto, t.createdby, t.createdtime, t.resolvedtime from Ticket t INNER join User at on at.id = t.assignto where createdby = \" + msg.req.params.id + \";\";\nreturn msg;",
        "outputs": 1,
        "timeout": 10000,
        "newThread": false,
        "noerr": 0,
        "x": 567.3333206176758,
        "y": 1273.6666831970215,
        "wires": [
            [
                "9c8ffcc.1a40c"
            ]
        ]
    },
    {
        "id": "6de62a46.42b0a4",
        "type": "function",
        "z": "ee68af36.17eef",
        "name": "Fetch assigned tickets from DB",
        "func": "var require = context.global.get('require');\nmsg.topic = \"select at.name as 'createdBy', t.id, t.title, t.details, t.customerlocation, t.customeraddress, t.status, t.assignto, t.createdby, t.createdtime, t.resolvedtime from Ticket t INNER join User at on at.id = t.createdby where assignto = \" + msg.req.params.id + \";\";\nreturn msg;",
        "outputs": 1,
        "timeout": 10000,
        "newThread": false,
        "noerr": 0,
        "x": 532.3333206176758,
        "y": 1454.6666831970215,
        "wires": [
            [
                "ac9d29ef.3dd1a8"
            ]
        ]
    },
    {
        "id": "73121b05.508014",
        "type": "function",
        "z": "ee68af36.17eef",
        "name": "Fetch Specific Ticket from DB",
        "func": "var require = context.global.get('require');\nmsg.topic = \"select at.name as 'assignedTo', cb.name as 'createdBy', t.id, t.title, t.details, t.customerlocation, t.customeraddress, t.status, t.assignto, t.createdby, t.createdtime, t.resolvedtime from Ticket t INNER join User at on at.id = t.assignto INNER join User cb on cb.id = t.createdby where t.id = \" + msg.req.params.id + \";\";\nreturn msg;",
        "outputs": 1,
        "timeout": 10000,
        "newThread": false,
        "noerr": 0,
        "x": 422.3333206176758,
        "y": 1095.6666831970215,
        "wires": [
            [
                "2ba8bb1e.ced6b4"
            ]
        ]
    },
    {
        "id": "7398b6db.657938",
        "type": "function",
        "z": "ee68af36.17eef",
        "name": "Update Ticket to DB",
        "func": "var require = context.global.get('require');\nvar payload = msg.req.body;\nvar date = new Date().toISOString().split(\"T\");\nvar dateTime = date[0] + \" \" +date[1].replaceAll('Z', '');\nmsg.topic = \"UPDATE Ticket SET status='\" + payload.status + \"',\" + \"resolvedtime='\" + dateTime + \"' WHERE id=\" + msg.req.params.id + \";\";\nreturn msg;",
        "outputs": 1,
        "timeout": 10000,
        "newThread": false,
        "noerr": 0,
        "x": 394.3333206176758,
        "y": 925.6666831970215,
        "wires": [
            [
                "8f181610.cc76c8"
            ]
        ]
    },
    {
        "id": "a8d0db51.0c1cc8",
        "type": "function",
        "z": "ee68af36.17eef",
        "name": "",
        "func": "var require = context.global.get('require');\nmsg.payload = \"success\";\nreturn msg;",
        "outputs": 1,
        "timeout": 10000,
        "newThread": false,
        "noerr": 0,
        "x": 823.8333206176758,
        "y": 924.8698081970215,
        "wires": [
            [
                "9bf8907c.0d3c8"
            ]
        ]
    },
    {
        "id": "f2612452.5fe778",
        "type": "function",
        "z": "ee68af36.17eef",
        "name": "Save Ticket Meta Data to DB",
        "func": "var require = context.global.get('require');\nvar payload = msg.payload;\nvar date = new Date().toISOString().split(\"T\");\nvar dateTime = date[0] + \" \" +date[1].replaceAll('Z', '');\nnode.warn(payload);\nmsg.topic = \"INSERT INTO TicketMetadata (ticketid, title, createdby, location, updatedtime, info) VALUES (\" + payload.ticketid + \",'\" + payload.title + \"',\" + payload.createdby + \",'\" + payload.location + \"','\" + dateTime + \"',\" + JSON.stringify(payload.info) +\");\";\nreturn msg;",
        "outputs": 1,
        "timeout": 10000,
        "newThread": false,
        "noerr": 0,
        "x": 521.3333206176758,
        "y": 1837.6666831970215,
        "wires": [
            [
                "d8fc98f8.bfd278"
            ]
        ]
    },
    {
        "id": "beae7dc8.80b0d",
        "type": "function",
        "z": "ee68af36.17eef",
        "name": "",
        "func": "var require = context.global.get('require');\nmsg.payload = \"success\";\nreturn msg;",
        "outputs": 1,
        "timeout": 10000,
        "newThread": false,
        "noerr": 0,
        "x": 960.8333206176758,
        "y": 1837.8698081970215,
        "wires": [
            [
                "c9721f1d.16cea"
            ]
        ]
    },
    {
        "id": "ca0d8f0d.bbd42",
        "type": "function",
        "z": "ee68af36.17eef",
        "name": "Fetch Ticket metadata from DB",
        "func": "var require = context.global.get('require');\nmsg.topic = \"select at.name as 'createdBy', tm.id, tm.title, tm.info, tm.ticketid, tm.location, tm.updatedtime from TicketMetadata tm INNER join User at on at.id = tm.createdby where tm.ticketid=\" + msg.req.params.id;\nreturn msg;",
        "outputs": 1,
        "timeout": 10000,
        "newThread": false,
        "noerr": 0,
        "x": 531.3333206176758,
        "y": 1647.6666831970215,
        "wires": [
            [
                "a5009de6.2370f"
            ]
        ]
    },
    {
        "id": "b40e8f81.a67fb",
        "type": "function",
        "z": "ee68af36.17eef",
        "name": "set fcm payload and header",
        "func": "var require = context.global.get('require');\nconst deviceid = msg.payload[0].deviceid;\nmsg.payload = { \"to\": deviceid, \"notification\": { \"title\": \"New ticket created\", \"body\": \"\"}};\nmsg.headers = { \"Authorization\": \"key=AAAAFqi3d1k:APA91bFu0OkDfdeSzgYYoG5suGQoj331gKnFtRAQniIGgHAEXyzitn3N8HIWGE8_FRSaV-bnF8Bj8Lrk9goM0RSLFfiFvYHro5x7VtbvL7z86cVQxinAT8IwRcmcl-x0Mhqj1sqgLyss\"};\nreturn msg;",
        "outputs": 1,
        "timeout": 10000,
        "newThread": false,
        "noerr": 0,
        "x": 1332.3333206176758,
        "y": 729.6666831970215,
        "wires": [
            [
                "772915ae.1c3c1c"
            ]
        ]
    },
    {
        "id": "a26971b9.3232c",
        "type": "function",
        "z": "ee68af36.17eef",
        "name": "",
        "func": "var require = context.global.get('require');\nmsg.payload=\"success\";\nreturn msg;",
        "outputs": 1,
        "timeout": 10000,
        "newThread": false,
        "noerr": 0,
        "x": 2034.3333206176758,
        "y": 729.6666831970215,
        "wires": [
            [
                "34e95cc3.1a0e34"
            ]
        ]
    },
    {
        "id": "5ece5a91.f49104",
        "type": "function",
        "z": "ee68af36.17eef",
        "name": "",
        "func": "var require = context.global.get('require');\nmsg.payload = msg.loginUser;\nreturn msg;",
        "outputs": 1,
        "timeout": 10000,
        "newThread": false,
        "noerr": 0,
        "x": 1226.3333206176758,
        "y": 187.66668319702148,
        "wires": [
            [
                "3a25f19.78ddc0e"
            ]
        ]
    },
    {
        "id": "853464f3.a12ec8",
        "type": "function",
        "z": "ee68af36.17eef",
        "name": "Fetch Users from DB",
        "func": "var require = context.global.get('require');\nvar payload = msg.req.body;\nmsg.topic = \"select * from User\";\nreturn msg;",
        "outputs": 1,
        "timeout": 10000,
        "newThread": false,
        "noerr": 0,
        "x": 383.3333206176758,
        "y": 554.6666831970215,
        "wires": [
            [
                "65c351f9.472a9"
            ]
        ]
    },
    {
        "id": "9f7d2e89.6f7d3",
        "type": "http in",
        "z": "ee68af36.17eef",
        "name": "",
        "url": "/hvac/user",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 153.83332061767578,
        "y": 359.4635581970215,
        "wires": [
            [
                "71f00a53.474324"
            ]
        ]
    },
    {
        "id": "302db055.99c0a",
        "type": "http in",
        "z": "ee68af36.17eef",
        "name": "",
        "url": "/hvac/login",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 151.33332061767578,
        "y": 187.66668319702148,
        "wires": [
            [
                "eb271562.6e2568"
            ]
        ]
    },
    {
        "id": "2e91eb04.53b304",
        "type": "http in",
        "z": "ee68af36.17eef",
        "name": "",
        "url": "/hvac/ticket",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 164.33332061767578,
        "y": 730.6666831970215,
        "wires": [
            [
                "33187619.5f051a"
            ]
        ]
    },
    {
        "id": "5c873c85.1a49c4",
        "type": "http in",
        "z": "ee68af36.17eef",
        "name": "",
        "url": "/hvac/ticket/createdby/:id",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 210.33332061767578,
        "y": 1273.6666831970215,
        "wires": [
            [
                "9c9580f8.afec4"
            ]
        ]
    },
    {
        "id": "fd8ea51f.330858",
        "type": "http in",
        "z": "ee68af36.17eef",
        "name": "",
        "url": "/hvac/ticket/assign/:id",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 203.33332061767578,
        "y": 1454.6666831970215,
        "wires": [
            [
                "6de62a46.42b0a4"
            ]
        ]
    },
    {
        "id": "f9a576b1.5fd9a8",
        "type": "http in",
        "z": "ee68af36.17eef",
        "name": "",
        "url": "/hvac/ticket/:id",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 169.33332061767578,
        "y": 1095.6666831970215,
        "wires": [
            [
                "73121b05.508014"
            ]
        ]
    },
    {
        "id": "1a41ea3d.ba3586",
        "type": "http in",
        "z": "ee68af36.17eef",
        "name": "",
        "url": "/hvac/ticket/:id",
        "method": "put",
        "upload": false,
        "swaggerDoc": "",
        "x": 169.33332061767578,
        "y": 925.6666831970215,
        "wires": [
            [
                "7398b6db.657938"
            ]
        ]
    },
    {
        "id": "c5b78a4c.e116d8",
        "type": "http in",
        "z": "ee68af36.17eef",
        "name": "",
        "url": "/hvac/ticket/metadata",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 202.33332061767578,
        "y": 1837.6666831970215,
        "wires": [
            [
                "f2612452.5fe778"
            ]
        ]
    },
    {
        "id": "a3584cf9.b92e3",
        "type": "http in",
        "z": "ee68af36.17eef",
        "name": "",
        "url": "/hvac/ticket/:id/metadata",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 212.33332061767578,
        "y": 1647.6666831970215,
        "wires": [
            [
                "ca0d8f0d.bbd42"
            ]
        ]
    },
    {
        "id": "3d8022b7.a22e8e",
        "type": "http in",
        "z": "ee68af36.17eef",
        "name": "",
        "url": "/hvac/users",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 154.33332061767578,
        "y": 554.6666831970215,
        "wires": [
            [
                "853464f3.a12ec8"
            ]
        ]
    },
    {
        "id": "b21c7a59.d69a68",
        "type": "http response",
        "z": "ee68af36.17eef",
        "name": "HTTP Response",
        "statusCode": "",
        "headers": {},
        "x": 1136.8333206176758,
        "y": 359.4635581970215,
        "wires": []
    },
    {
        "id": "3a25f19.78ddc0e",
        "type": "http response",
        "z": "ee68af36.17eef",
        "name": "HTTP Response",
        "statusCode": "",
        "headers": {},
        "x": 1483.3333206176758,
        "y": 187.66668319702148,
        "wires": []
    },
    {
        "id": "34e95cc3.1a0e34",
        "type": "http response",
        "z": "ee68af36.17eef",
        "name": "HTTP Response",
        "statusCode": "",
        "headers": {},
        "x": 2283.333320617676,
        "y": 729.6666831970215,
        "wires": []
    },
    {
        "id": "f5a3a843.92eff8",
        "type": "http response",
        "z": "ee68af36.17eef",
        "name": "HTTP Response",
        "statusCode": "",
        "headers": {},
        "x": 1069.0833930969238,
        "y": 1273.6666450500488,
        "wires": []
    },
    {
        "id": "7ad6d577.bdabfc",
        "type": "http response",
        "z": "ee68af36.17eef",
        "name": "HTTP Response",
        "statusCode": "",
        "headers": {},
        "x": 1039.0833282470703,
        "y": 1454.6666469573975,
        "wires": []
    },
    {
        "id": "dcfa8ca7.4271d",
        "type": "http response",
        "z": "ee68af36.17eef",
        "name": "HTTP Response",
        "statusCode": "",
        "headers": {},
        "x": 863.3333206176758,
        "y": 1094.6666831970215,
        "wires": []
    },
    {
        "id": "9bf8907c.0d3c8",
        "type": "http response",
        "z": "ee68af36.17eef",
        "name": "HTTP Response",
        "statusCode": "",
        "headers": {},
        "x": 1100.3333206176758,
        "y": 924.6666831970215,
        "wires": []
    },
    {
        "id": "c9721f1d.16cea",
        "type": "http response",
        "z": "ee68af36.17eef",
        "name": "HTTP Response",
        "statusCode": "",
        "headers": {},
        "x": 1240.3333206176758,
        "y": 1837.6666831970215,
        "wires": []
    },
    {
        "id": "d539db0f.91c058",
        "type": "http response",
        "z": "ee68af36.17eef",
        "name": "HTTP Response",
        "statusCode": "",
        "headers": {},
        "x": 1022.3333282470703,
        "y": 1642.9166507720947,
        "wires": []
    },
    {
        "id": "74d92cd1.b0f474",
        "type": "http response",
        "z": "ee68af36.17eef",
        "name": "HTTP Response",
        "statusCode": "",
        "headers": {},
        "x": 831.3333206176758,
        "y": 554.6666831970215,
        "wires": []
    },
    {
        "id": "772915ae.1c3c1c",
        "type": "http request",
        "z": "ee68af36.17eef",
        "name": "http POST to Google FCM",
        "method": "POST",
        "ret": "txt",
        "url": "https://fcm.googleapis.com/fcm/send",
        "tls": "",
        "x": 1714.8333206176758,
        "y": 729.4635581970215,
        "wires": [
            [
                "a26971b9.3232c"
            ]
        ]
    },
    {
        "id": "1fd3a839.274d98",
        "type": "console",
        "z": "ee68af36.17eef",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 338.75,
        "y": 2023.75,
        "wires": []
    },
    {
        "id": "ef8ee50e.f94ad8",
        "type": "comment",
        "z": "ee68af36.17eef",
        "name": "HTTP In node has a binindg URL  /login ",
        "info": "",
        "x": 215.33332061767578,
        "y": 138.66668319702148,
        "wires": []
    },
    {
        "id": "6bd75d37.a8f8c4",
        "type": "comment",
        "z": "ee68af36.17eef",
        "name": "SELECT Query: Fetch user from DB",
        "info": "",
        "x": 421.33331298828125,
        "y": 248.16669082641602,
        "wires": []
    },
    {
        "id": "d4ee96a1.99eab8",
        "type": "comment",
        "z": "ee68af36.17eef",
        "name": "Process fetched user and pass update user query to DB",
        "info": "",
        "x": 940.3333129882812,
        "y": 244.41669082641602,
        "wires": []
    },
    {
        "id": "66b0cdb3.ac0244",
        "type": "comment",
        "z": "ee68af36.17eef",
        "name": "Set fetched user payload",
        "info": "",
        "x": 1255.3333206176758,
        "y": 141.66668319702148,
        "wires": []
    },
    {
        "id": "702f6785.729bd8",
        "type": "comment",
        "z": "ee68af36.17eef",
        "name": "HTTP In node has a binindg URL  /user ",
        "info": "",
        "x": 223.33332061767578,
        "y": 309.6666831970215,
        "wires": []
    },
    {
        "id": "4ff328b3.892078",
        "type": "comment",
        "z": "ee68af36.17eef",
        "name": "INSERT Query: save user to DB",
        "info": "",
        "x": 405.3333206176758,
        "y": 408.6666831970215,
        "wires": []
    },
    {
        "id": "97886b51.10eec8",
        "type": "comment",
        "z": "ee68af36.17eef",
        "name": "Set success message to payload",
        "info": "",
        "x": 869.3333206176758,
        "y": 313.6666831970215,
        "wires": []
    },
    {
        "id": "f6392e5c.8dca1",
        "type": "comment",
        "z": "ee68af36.17eef",
        "name": "HTTP In node has a binindg URL  /user ",
        "info": "",
        "x": 220.33332061767578,
        "y": 506.6666831970215,
        "wires": []
    },
    {
        "id": "4d0fd05a.303b9",
        "type": "comment",
        "z": "ee68af36.17eef",
        "name": "SELECT Query: Fetch users from DB",
        "info": "",
        "x": 434.3333206176758,
        "y": 605.6666831970215,
        "wires": []
    },
    {
        "id": "ce491eeb.3131a",
        "type": "comment",
        "z": "ee68af36.17eef",
        "name": "HTTP In node has a binindg URL  /ticket ",
        "info": "",
        "x": 223.33332061767578,
        "y": 683.6666831970215,
        "wires": []
    },
    {
        "id": "fd06bcfc.8360f",
        "type": "comment",
        "z": "ee68af36.17eef",
        "name": "INSERT Query: Save ticket to DB",
        "info": "",
        "x": 427.3333206176758,
        "y": 781.6666831970215,
        "wires": []
    },
    {
        "id": "bbf94111.b1fbf",
        "type": "comment",
        "z": "ee68af36.17eef",
        "name": "SELECT Query: Fetch user deviceId from DB",
        "info": "",
        "x": 908.3333206176758,
        "y": 680.6666831970215,
        "wires": []
    },
    {
        "id": "362850e2.78f46",
        "type": "comment",
        "z": "ee68af36.17eef",
        "name": "Set FCM payload and authorization header",
        "info": "",
        "x": 1384.3333206176758,
        "y": 778.6666831970215,
        "wires": []
    },
    {
        "id": "d43a6cb4.023cd",
        "type": "comment",
        "z": "ee68af36.17eef",
        "name": "Handle FCM http request: POST",
        "info": "",
        "x": 1729.3333206176758,
        "y": 681.6666831970215,
        "wires": []
    },
    {
        "id": "a99c2e97.732bc",
        "type": "comment",
        "z": "ee68af36.17eef",
        "name": "Set success message to payload",
        "info": "",
        "x": 2090.333320617676,
        "y": 676.6666831970215,
        "wires": []
    },
    {
        "id": "67d89635.95fd38",
        "type": "comment",
        "z": "ee68af36.17eef",
        "name": "HTTP In node has a binindg URL  /ticket/:id ",
        "info": "",
        "x": 234.33332061767578,
        "y": 874.6666831970215,
        "wires": []
    },
    {
        "id": "e639e251.1441b",
        "type": "comment",
        "z": "ee68af36.17eef",
        "name": "UPDATE Query: Update ticket to DB",
        "info": "",
        "x": 443.3333206176758,
        "y": 972.6666831970215,
        "wires": []
    },
    {
        "id": "c0e13482.3f1f18",
        "type": "comment",
        "z": "ee68af36.17eef",
        "name": "Set success message to payload",
        "info": "",
        "x": 877.3333206176758,
        "y": 876.6666831970215,
        "wires": []
    },
    {
        "id": "8e7e3d51.bf737",
        "type": "comment",
        "z": "ee68af36.17eef",
        "name": "HTTP In node has a binindg URL  /ticket/:id ",
        "info": "",
        "x": 239.33332061767578,
        "y": 1048.6666831970215,
        "wires": []
    },
    {
        "id": "54f23e35.852ed",
        "type": "comment",
        "z": "ee68af36.17eef",
        "name": "SELECT Query: Fetch specific ticket from DB",
        "info": "",
        "x": 472.33331298828125,
        "y": 1148.9166431427002,
        "wires": []
    },
    {
        "id": "db3e4c03.89061",
        "type": "comment",
        "z": "ee68af36.17eef",
        "name": "HTTP In node has a binindg URL  /ticket/createdby/:id",
        "info": "",
        "x": 280.3333206176758,
        "y": 1225.6666831970215,
        "wires": []
    },
    {
        "id": "e1cf704.9368c9",
        "type": "comment",
        "z": "ee68af36.17eef",
        "name": "SELECT Query: Fetch created by tickets from DB",
        "info": "",
        "x": 587.3333206176758,
        "y": 1322.6666831970215,
        "wires": []
    },
    {
        "id": "41d20b2a.9fe364",
        "type": "comment",
        "z": "ee68af36.17eef",
        "name": "HTTP In node has a binindg URL  /ticket/assign/:id",
        "info": "",
        "x": 268.3333206176758,
        "y": 1401.6666831970215,
        "wires": []
    },
    {
        "id": "975775b1.9c0558",
        "type": "comment",
        "z": "ee68af36.17eef",
        "name": "SELECT Query: Fetch assign by tickets from DB",
        "info": "",
        "x": 577.8333282470703,
        "y": 1510.166648864746,
        "wires": []
    },
    {
        "id": "e839707d.90919",
        "type": "comment",
        "z": "ee68af36.17eef",
        "name": "HTTP In node has a binindg URL  /ticket/:id/metadata",
        "info": "",
        "x": 281.3333206176758,
        "y": 1597.6666831970215,
        "wires": []
    },
    {
        "id": "84470ff6.ce245",
        "type": "comment",
        "z": "ee68af36.17eef",
        "name": "SELECT Query: Fetch ticekt's metadatas from DB",
        "info": "",
        "x": 580.3333282470703,
        "y": 1704.4166507720947,
        "wires": []
    },
    {
        "id": "e09e5d19.df8ab",
        "type": "comment",
        "z": "ee68af36.17eef",
        "name": "HTTP In node has a binindg URL  /ticket/metadata",
        "info": "",
        "x": 271.3333206176758,
        "y": 1791.6666831970215,
        "wires": []
    },
    {
        "id": "159c24e3.74ec8b",
        "type": "comment",
        "z": "ee68af36.17eef",
        "name": "INSERT Query: Save ticekt's metadatas to DB",
        "info": "",
        "x": 570.3333129882812,
        "y": 1895.416654586792,
        "wires": []
    },
    {
        "id": "8b9608fd.9c80f8",
        "type": "comment",
        "z": "ee68af36.17eef",
        "name": "Set success message to payload",
        "info": "",
        "x": 1018.3333206176758,
        "y": 1791.6666831970215,
        "wires": []
    },
    {
        "id": "6ef623e2.898b8c",
        "type": "comment",
        "z": "ee68af36.17eef",
        "name": "For changing notification text: Change \"notification\" > \"title\" in msg.payload",
        "info": "",
        "x": 1494.3333206176758,
        "y": 824.6666831970215,
        "wires": []
    },
    {
        "id": "4522bb41.40a324",
        "type": "comment",
        "z": "ee68af36.17eef",
        "name": "All the APIs needed to handle the mobile app is here",
        "info": "",
        "x": 326.6666564941406,
        "y": 59.999996185302734,
        "wires": []
    },
    {
        "id": "6ba8ae81.8c9f",
        "type": "catch",
        "z": "ee68af36.17eef",
        "name": "",
        "scope": null,
        "x": 154.12498474121094,
        "y": 2022.9999866485596,
        "wires": [
            [
                "1fd3a839.274d98"
            ]
        ]
    },
    {
        "id": "8a67661a.6a0d68",
        "type": "Create-Order",
        "z": "8d0341f4.b1c5d",
        "apiKey": "shippo_test_aaa42e49608b6267082d23231042d31d6066aee6",
        "x": 214.5,
        "y": 245.796875,
        "wires": [
            []
        ]
    }
]